name: dockerized CI
on:
  push:
permissions:
  packages: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: actions/setup-node@v6.2.0
        with:
          node-version: 20
      - run: npm install
      - run: npm run lint
      - run: npm test
      - run: npm run build
      - name: log in to ghcr
        uses: docker/login-action@v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: build and push image
        uses: docker/build-push-action@v6.18.0
        with:
          push: true
          tags: ghrc.io/${{ github.actor }}/react-app-cicd:${{ github.sha }}
          context: .
