name: Docker Image CI

on:
  push:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v6.1.0
      with:
        # Version Spec of the version to use. Examples: 12.x, 10.15.1, >=10.15.0.
        node-version: 20
    - name: Installing Dependencies
      run: npm install
    - name: lint Phase
      run:  npm run lint
    - name: unit test
      run: npm run test
    - name: Building Static Files
      run: npm run build
    - run : ls -lh
    - uses: docker/login-action@v3.6.0
      with:
      # Username used to log against the Docker registry
        username: mosama25
      # Password or personal access token used to log against the Docker registry
        password: Hamada2510
    - uses: docker/build-push-action@v6.18.0
      with:
        push: true
        tags: mosama25/react-app-cicd:${{ github.sha }}
        context: .

  # deploy:
  #    runs-on: ubuntu-latest
  #    needs: build
  #    steps:
  #    - name: SSH into server
  #      uses: appleboy/ssh-action@v1.0.3
  #      with:
  #        host: ${{ secrets.SSH_HOST }}
  #        username: ${{ secrets.SSH_USER }}
  #        key: ${{ secrets.SSH_PRIVATE_KEY }}
  #        strict: false
  #        script: |
  #            docker stop react-app || true
  #            docker rm react-app || true
  #            docker run -d -p 8080:80 --name "react-app" mosama25/react-app-cicd:${{ github.sha }}

  
  deploy_railway:
      runs-on: ubuntu-latest
      needs: build
      steps:

      - name: Install Railway CLI
        run: |
          curl -fsSL https://railway.app/install.sh | sh

      - name: Deploy Docker Image to Railway
        env:
          RAILWAY_TOKEN: a525ba23-d6c2-4171-9cde-30c1f6c4d141
        run: |
          railway deploy --image mosama25/my-app:${{ github.sha }} --environment staging --service mohamed